html {
    position: relative;
    height: 100%;
    min-height: 100%;
    width: 100%;
    overflow: hidden
}

body {
    position: initial;
    font-family: poppins, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: #ecf1f9;
    background-position: center center;
    background-size: calc(100% + 25px);
    background-repeat: repeat;
    background-attachment: fixed;
    overflow-y: auto;
    overflow-x: hidden
}

.page-scroll {
    width: 100%;
    height: auto;
    min-height: 100%;
    vertical-align: middle;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden
}

a {
    color: #7066ff;
    text-decoration: none;
    outline: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

a:hover {
    color: #ff9800;
    text-decoration: none;
    outline: none
}

a:focus {
    outline: 0;
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #333
}

h1 {
    font-size: 32px
}

h2 {
    font-size: 27px
}

h3 {
    font-size: 21px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 16px
}

p {
    font-size: 14px;
    color: #666;
    margin: 0 0 10px
}

ul {
    padding: 0 0 0 40px;
    margin: 1em 0
}

ul ul {
    margin: 1em 0
}

img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
    border: 0;
    -ms-interpolation-mode: bicubic
}

.fw-page-builder-content .fw-container {
    padding-left: 0;
    padding-right: 0
}

.mobile-visible {
    display: none;
    visibility: hidden
}

.form-group {
    position: relative;
    margin: 0 0 21.5px
}

.form-control,
.form-control:focus {
    height: 42px
}

.form-control,
.form-control:focus,
input[type=text] {
    position: relative;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
    display: block;
    font-size: 1em;
    margin: 0;
    padding: 10px 25px 10px 12px;
    width: 100%;
    min-width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    font-family: poppins, Helvetica, sans-serif
}

.form-control,
.form-control:focus,
input[type=text] {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0)
}

textarea.form-control,
textarea.form-control:focus {
    height: auto
}

.form-control+.form-control-border {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    border-radius: 5px;
    top: 0;
    opacity: 0;
    background: 0 0 !important;
    border: 2px solid #7066ff;
    border-right-width: 0;
    height: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.form-control:focus+.form-control-border {
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    opacity: 1;
    border-right-width: 2px
}

.form-control::-moz-placeholder {
    color: #adadac
}

.form-control:-ms-input-placeholder {
    color: #adadac
}

.form-control::-webkit-input-placeholder {
    color: #adadac
}

.form-group .help-block {
    position: absolute;
    display: inline-block;
    padding: 0 5px;
    font-size: .93em;
    line-height: 1.75em;
    margin: -2px 0 0 10px;
    color: #fff;
    background: #ff4e4e;
    z-index: 1
}

.form-group .help-block:after {
    content: " ";
    position: absolute;
    left: 5px;
    bottom: 100%;
    width: 0;
    height: 0;
    border-bottom: 10px solid #ff4e4e;
    border-right: 10px solid transparent
}

.form-group .no-error {
    display: none
}

figure {
    max-width: 100%
}

.btn-primary,
.btn-secondary,
button,
input[type=submit] {
    display: inline-block;
    position: relative;
    padding: .8em 2.1em;
    margin-bottom: .75em;
    margin-right: .25em;
    font-size: 1em;
    line-height: 1.2;
    border: 0;
    outline: 0;
    border: 2px solid #7066ff;
    color: #222;
    text-shadow: none;
    background-color: #fff;
    border-radius: 30px;
    font-family: poppins, Helvetica, sans-serif;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, .22)
}

.btn-secondary:last-child,
button:last-child,
input[type=submit]:last-child {
    margin-right: 0
}

.btn-primary:hover,
.btn-primary:focus,
button:hover,
button:focus,
input[type=submit]:hover,
input[type=submit]:focus {
    background-color: #7066ff;
    color: #fff;
    border: 2px solid #7066ff
}

.btn-secondary {
    border-color: #d5d5d5;
    background-color: #fff;
    box-shadow: 0 10px 10px -8px #d5d5d5;
    color: #666
}

.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    border-color: #d5d5d5;
    background-color: #d5d5d5
}

.page-container {
    display: flex;
    flex-flow: column;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 1240px;
    margin: 3% auto;
    padding: 40px 70px 60px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 40px -10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 40px -10px rgba(0, 0, 0, .2);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, .2);
    border-radius: 40px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden
}

.header {
    display: block;
    width: 100%;
    padding-bottom: 40px;
    position: relative
}

@media only screen and (min-width:991px) {
    .header {
        width: calc(100% + 40px);
        margin-left: -20px
    }
}

.text-logo {
    float: left
}

.text-logo a {
    display: block;
    outline: 0
}

.text-logo a:focus {
    outline: 0
}

.logo-symbol {
    float: left;
    width: 44px;
    height: 44px;
    line-height: 44px;
    background-color: #7066ff;
    border-radius: 100px;
    text-align: center;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    margin-right: 8px;
    margin-top: 4px
}

.logo-text {
    float: left;
    line-height: 50px;
    font-size: 20px;
    color: #222;
    font-weight: 600
}

.logo-text span {
    font-weight: 400
}

.site-nav {
    float: right
}

.site-main-menu {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 99
}

.site-main-menu li {
    display: inline-block;
    position: relative;
    color: #333;
    text-decoration: none;
    margin-right: 40px
}

.site-main-menu li:last-child {
    margin-right: 0
}

.site-main-menu li a {
    color: #333;
    text-decoration: none;
    line-height: 50px;
    font-size: 14px;
    opacity: .55
}

.site-main-menu li.current-menu-item>a,
.site-main-menu li.current-menu-parent>a,
.site-main-menu li:hover>a {
    opacity: 1
}

@media only screen and (min-width:992px) {
    .site-main-menu li:hover>.sub-menu {
        visibility: visible;
        opacity: 1;
        top: 100%
    }

    .site-main-menu .sub-menu {
        display: block;
        position: absolute;
        background-color: #fff;
        left: -23px;
        top: 100px;
        width: auto;
        max-width: none;
        margin: 0;
        padding: 20px 23px;
        border-radius: 8px;
        -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
        opacity: 0;
        visibility: hidden;
        -moz-transition: all .25s ease-in-out;
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out
    }

    .sub-menu li {
        display: block;
        margin: 0 0 12px;
        padding: 0
    }

    .sub-menu li:last-child {
        margin-bottom: 0
    }

    .sub-menu li a {
        display: block;
        opacity: .5;
        line-height: 1.6em;
        width: max-content
    }

    .sub-menu li a:hover {
        opacity: 1
    }

    .site-main-menu .menu-item-has-children>a:after {
        display: inline-block;
        font-style: normal;
        font-weight: 700;
        text-rendering: auto;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        margin-left: 5px;
        opacity: .3;
    }
}

.page-title {
    display: block;
    position: relative;
    background-color: #fdfdfd;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    padding: 65px 70px;
    margin-right: -70px;
    margin-left: -70px;
    margin-bottom: 65px;
    text-align: left
}

.page-title h1 {
    font-size: 40px;
    margin: 0
}

.page-title .page-subtitle {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 70px
}

.page-title .page-subtitle h4 {
    color: #aaa;
    font-weight: 400;
    font-size: 14px
}

.block-title h2 {
    display: inline-block;
    position: relative;
    font-size: 21px;
    margin: 0 0 30px;
    z-index: 1;
    padding-bottom: 7px
}

.block-title h2:after {
    display: block;
    position: absolute;
    content: '';
    width: 30px;
    background-color: #7066ff;
    height: 2px;
    bottom: 0
}

.block-title h2:before {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    background-color: #f5f5f5;
    height: 2px;
    bottom: 0
}

.lmpixels-scroll-to-top {
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 100;
    display: inline-block;
    padding: 0;
    background-color: #fafafa;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    color: #333;
    opacity: 1;
    border-radius: 8px;
    visibility: visible;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .12)
}

.lmpixels-scroll-to-top:hover {
    color: #2dd17f
}

.lmpixels-scroll-to-top.hidden-btn {
    opacity: 0;
    visibility: hidden
}

.info-block-w-icon {
    position: relative;
    text-align: left;
    width: 100%;
    display: table;
    margin: 0;
    padding: 0 10px 30px 0
}

.info-block-w-icon .ci-icon {
    position: relative;
    display: table-cell;
    padding: 0 10px 5px 0;
    width: 44px
}

.info-block-w-icon .ci-text {
    position: relative;
    display: table-cell;
    padding: 0 0 0 15px;
    vertical-align: middle
}

.info-block-w-icon .ci-text h4 {
    margin: 7px 0
}

.info-block-w-icon .ci-text p {
    font-size: .92em
}

.info-block-w-icon .ci-text p:last-child {
    margin-bottom: 0
}

.info-block-w-icon i {
    position: relative;
    display: table-cell;
    font-size: 33px;
    color: #7066ff
}

.timeline-item {
    position: relative;
    padding: 25px 0 20px 40px
}

.timeline-item:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    background-color: #f5f6f9;
    width: 1px;
    left: 15px;
    bottom: 5px
}

.timeline-item:after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    background-color: #f5f6f9;
    width: calc(100% - 15px);
    left: 15px;
    bottom: 3px
}

.timeline-item:first-child {
    padding-top: 3px
}

.timeline-item:last-child:after {
    display: none
}

.timeline-item:last-child {
    margin-bottom: 30px
}

.timeline-item h5.item-period {
    display: inline-block;
    position: relative;
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 5px -40px;
    color: #666;
    background-color: #fff;
    padding: 0 10px;
    line-height: 23px;
    border: 2px solid #7066ff;
    border-radius: 30px
}

.timeline-item .item-company {
    display: inline-block;
    font-size: 12px;
    color: #666;
    opacity: .7;
    margin-left: 5px
}

.timeline-item .item-title {
    font-size: 16px;
    margin: 10px 0 7px
}

.timeline-item .text {
    font-size: .92em
}

.skills-info.skills-first-style {
    margin-bottom: 30px
}

.skills-info.skills-first-style h4 {
    font-size: 13px;
    line-height: 1.1em;
    position: relative;
    float: left;
    margin: 0 0 4px
}

.skills-first-style .skill-container {
    position: relative;
    background-color: transparent;
    border: 2px solid #e5e5e5;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 12px;
    margin-bottom: 15px;
    width: 100%
}

.skills-first-style .skill-value {
    font-size: 11px;
    line-height: 1.1em;
    position: relative;
    float: right;
    margin: 0 0 4px;
    color: #888
}

.skills-first-style .skill-percentage {
    background-color: #7066ff;
    border: 2px solid #fff;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    height: 8px;
    padding: 0
}

.lm-info-block {
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 0 15px;
    background: #fff;
    padding: 25px 10px 15px;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.lm-info-block:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0 12px 17px rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 12px 17px rgba(0, 0, 0, .12);
    -o-box-shadow: 0 12px 17px rgba(0, 0, 0, .12);
    box-shadow: 0 12px 17px rgba(0, 0, 0, .12)
}

.lm-info-block h4 {
    font-size: 16px;
    margin: 15px
}

.lm-info-block i {
    position: relative;
    font-size: 33px;
    color: #7066ff;
    margin-bottom: 6px;
    width: 33px;
    height: 33px
}

.lm-info-block-value {
    color: #d5d5d5;
    font-size: 48px;
    line-height: 52px;
    display: block;
    margin: 15px 0 10px
}

.lm-info-block-text {
    display: block
}

.portfolio-filters {
    list-style: none;
    padding: 0;
    margin: 0 0 2em;
}

.portfolio-filters li {
    display: inline-block
}

.portfolio-filters li a,
.portfolio-filters li a:hover,
.portfolio-filters li a:not([href]) {
    color: #222;
    font-size: 12px;
    line-height: 1.5;
    padding: 3px 14px;
    text-decoration: none;
    opacity: .5
}

.portfolio-filters li.active a,
.portfolio-filters li.active a:hover,
.portfolio-filters li a:hover {
    opacity: 1
}

.portfolio-grid {
    margin-left: -8px;
    margin-right: -8px;
    position: relative;
    overflow: hidden
}

.portfolio-grid figure {
    width: 33.33333%;
    float: left;
    position: relative;
    overflow: hidden;
    margin: 8px;
    border-radius: 12px
}


.portfolio-grid.two-columns figure {
    width: calc(50% - 16px)
}

.portfolio-grid img {
    position: relative;
    display: block;
    width: 100%;
    height: 350px; 
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.portfolio-grid figure a {
    display: block;
    position: relative
}

.portfolio-grid figure img {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.portfolio-grid figure:hover img {
    transform: scale(1.2)
}

.portfolio-grid figure a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3
}

.portfolio-item-img {
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    border-radius: 8px
}

.portfolio-grid figure .portfolio-item-img:after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, .06);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.portfolio-grid figure:hover .portfolio-item-img:after {
    opacity: 1
}

.portfolio-grid figure i {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

i.extra-padding {
    padding-top: 2px;
}

.portfolio-grid figure .name {
    display: inline-block;
    padding: 4px 10px;
    margin: 0;
    background-color: #fff;
    font-size: 14px;
    top: 20px;
    left: 20px;
    max-width: calc(100% - 67px);
    border-radius: 5px;
    position: absolute
}

.portfolio-grid figure .category {
    display: inline-block;
    padding: 3px 7px;
    background-color: #fff;
    color: #222;
    font-size: 11px;
    line-height: 1.2em;
    bottom: 20px;
    left: 20px;
    position: absolute;
    border-radius: 5px;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.portfolio-grid figure:hover i,
.portfolio-grid figure:hover .category {
    opacity: 1
}

.g-recaptcha {
    margin-bottom: 20px
}

.controls.two-columns .left-column {
    width: 47%;
    float: left;
    margin-right: 3%
}

.controls.two-columns .right-column {
    width: 50%;
    float: right
}

.portfolio-page-carousel {
    overflow: hidden
}

.portfolio-page-nav {
    text-align: right;
    float: right;
    margin-bottom: 10px
}

.portfolio-page-nav>div.nav-item {
    position: relative;
    display: inline-block;
    margin: 0 3px
}

.portfolio-page-nav>div.nav-item a {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    color: #888;
    background-color: #fafafa;
    border-radius: 5px
}

.portfolio-page-nav>div.nav-item a:hover {
    background-color: #7066ff;
    color: #fff
}

.portfolio-page-nav>div.nav-item a i {
    line-height: 40px;
    font-size: 22px
}

.portfolio-page-title {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left
}

.portfolio-page-title h1 {
    display: inline-block;
    margin: 0
}

.project-description {
    display: block;
    position: relative;
    padding: 25px 30px;
    background-color: #fefefe;
    border-radius: 15px;
    border: 2px solid #eee;
    margin-left: 20px
}

.portfolio-page-wrapper .block-title h3 {
    font-size: 18px;
    margin-bottom: 15px
}

.project-general-info {
    list-style: none;
    padding: 0;
    margin: 0 0 15px
}

.project-general-info li {
    margin: 0 0 10px
}

.project-general-info .fa {
    color: #7066ff;
    margin-right: 5px
}

.entry-content .portfolio-page-content .project-general-info p {
    margin: 0;
    font-size: 1em
}

.project-general-info {
    list-style: none;
    padding: 0;
    margin: 0 0 15px
}

.project-general-info li {
    margin: 0 0 10px
}

.project-general-info .fa {
    color: #7066ff;
    margin-right: 5px
}

.project-general-info p {
    margin: 0
}

.tags-block {
    margin: 25px 0 0
}

.tags {
    list-style: none;
    margin: 0;
    padding: 0
}

.tags>li {
    display: inline-block
}

.tags a {
    display: inline-block;
    font-size: 12px;
    line-height: 1.5em;
    color: #666;
    padding: 2px 7px;
    background-color: #fff;
    border-radius: 3px;
    border: 2px solid #e5e5e5;
    margin: 3px 2px 2px
}

.tags a:first-child {
    margin-left: 0
}

.single-page-content .content-area {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: auto;
    min-height: 100%
}

.site-content.single-post {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0
}

.entry-content,
.page-content {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word
}

.entry-content h1:first-child,
.entry-content h2:first-child,
.entry-content h3:first-child,
.entry-content h4:first-child,
.entry-content h5:first-child,
.page-content h1:first-child,
.page-content h2:first-child,
.page-content h4:first-child,
.page-content h5:first-child {
    margin-top: 0
}

.entry-content a:hover,
.page-content a:hover {
    text-decoration: none
}

.site-footer {
    display: block;
    position: relative;
    margin: 60px -70px -60px;
    padding: 15px 45px;
    background-color: #fdfdfd;
    border-top: 2px solid #f2f2f2;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px
}

.footer-social {
    float: left
}

.site-footer .footer-social-links {
    list-style: none;
    margin: 0;
    padding: 0
}

.site-footer .footer-social-links li {
    display: inline-block;
    margin-right: 25px
}

.site-footer .footer-social-links li:last-child {
    margin-right: 0
}

.site-footer .footer-social-links li a {
    color: #333;
    text-decoration: none;
    line-height: 21px;
    font-size: 13px;
    opacity: .6
}

.site-footer .footer-social-links li a:hover {
    opacity: 1
}

.footer-copyrights {
    float: right
}

.footer-copyrights p {
    line-height: 21px;
    font-size: 13px;
    margin: 0
}

.nothing-found {
    text-align: center
}

.nothing-found .page-content {
    margin: 10% 0 15%
}

.nothing-found h1 {
    font-size: 160px;
    line-height: 1.2em;
    margin: 0;
    color: #e5e5e5;
    text-align: center
}

.nothing-found p {
    display: inline-block;
    color: #fff;
    background-color: #7066ff;
    padding: 0 10px;
    font-size: 16px
}

@media only screen and (max-width:1320px) {
    .portfolio-grid figure {
        width: calc(33.33333% - 16px)
    }

    .page-container {
        max-width: 94%
    }
}

@media only screen and (min-width:991px) {

    body::-webkit-scrollbar,
    .single-page-content::-webkit-scrollbar,
    .header::-webkit-scrollbar,
    .portfolio-page-content::-webkit-scrollbar {
        position: absolute;
        width: 0px;
        margin-left: -5px
    }

    body::-webkit-scrollbar-track,
    .single-page-content::-webkit-scrollbar-track,
    .header::-webkit-scrollbar-track,
    .portfolio-page-content::-webkit-scrollbar-track {
        background-color: #fff
    }

    body::-webkit-scrollbar-thumb,
    .single-page-content::-webkit-scrollbar-thumb,
    .header::-webkit-scrollbar-thumb,
    .portfolio-page-content::-webkit-scrollbar-thumb {
        background-color: #d5d5d5
    }
}

@media only screen and (max-width:991px) {
    .mobile-visible {
        display: block;
        visibility: visible
    }

    .page-container {
        border-radius: 0;
        margin: 0;
        max-width: 100%;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        padding: 52px 40px 60px
    }

    .page-title {
        padding: 30px 40px;
        margin-right: -40px;
        margin-left: -40px;
        margin-bottom: 40px
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        padding: 0;
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .08);
        -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .08);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .08)
    }

    .header-content {
        z-index: 999;
        background-color: #fff;
        padding: 10px 20px
    }

    .mobile-menu-hide {
        width: 0;
        right: 0;
        margin-right: -100%;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none
    }

    .site-nav {
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: #fff;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        max-width: 320px;
        height: calc(100% - 52px);
        left: auto;
        top: 52px;
        z-index: -1;
        opacity: 1;
        overflow: auto;
        visibility: visible;
        -webkit-box-shadow: 0 0 70px 0 rgba(0, 0, 0, .08);
        -moz-box-shadow: 0 0 70px 0 rgba(0, 0, 0, .08);
        box-shadow: 0 0 70px 0 rgba(0, 0, 0, .08);
        -webkit-transition: all 0s ease-in-out;
        -moz-transition: all 0s ease-in-out;
        -o-transition: all 0s ease-in-out;
        -ms-transition: all 0s ease-in-out;
        transition: all 0s ease-in-out
    }

    .site-nav.animate {
        -webkit-transition: all .44s ease-in-out;
        -moz-transition: all .44s ease-in-out;
        -o-transition: all .44s ease-in-out;
        -ms-transition: all .44s ease-in-out;
        transition: all .44s ease-in-out
    }

    .site-main-menu li {
        display: block;
        margin: 0 30px
    }

    .site-main-menu li a {
        display: block
    }

    .sub-menu {
        position: relative;
        display: block;
        visibility: visible;
        opacity: 1;
        list-style: none;
        margin: 0;
        padding: 0
    }

    .sub-menu li {
        margin: 0 0 0 20px
    }

    .logo-symbol {
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 18px;
        margin-top: 0
    }

    .logo-text {
        display: inline-block;
        line-height: 32px;
        font-size: 18px
    }

    .menu-toggle {
        display: inline-block;
        float: right;
        line-height: 32px;
        font-size: 21px;
        color: #333
    }

    .single-page-content {
        padding-left: 0;
        margin-left: 0
    }

    .page-content,
    .single-page-content .content-area .page-content {
        padding: 0
    }

    .single-page-content .content-area {
        display: block
    }

    .page-title h1 {
        margin: 0
    }

    .page-title .page-subtitle {
        position: relative;
        right: auto
    }

    .page-title .page-subtitle h4 {
        margin: 5px 0
    }

    .project-description {
        margin-left: 0
    }
}

@media only screen and (min-width:768px) {
    .fw-container {
        width: auto
    }
}

@media only screen and (max-width:768px) {
    .portfolio-grid figure {
        width: calc(50% - 16px)
    }

    .portfolio-grid figure {
        width: calc(50% - 16px)
    }

    .fw-container {
        width: auto;
        padding-left: 15px;
        padding-right: 15px
    }

    .nothing-found h1 {
        font-size: 88px
    }

    .footer-social,
    .footer-copyrights {
        float: none;
        display: block;
        text-align: center;
        margin: 12px 0
    }
}

@media only screen and (max-width:480px) {

    .portfolio-grid figure,
    .portfolio-grid.two-columns figure {
        width: 100%;
        margin-left: 0;
        margin-right: 0
    }

    .controls.two-columns .left-column {
        width: 100%;
        float: none;
        margin-right: 0
    }

    .controls.two-columns .right-column {
        width: 100%;
        float: none
    }
}

/* Start zoom */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.transition-puff-in {
    -webkit-animation-name: puffIn;
    animation-name: puffIn
}

@-webkit-keyframes puffIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scale(2, 2);
        transform: scale(2, 2);
        -webkit-filter: blur(2px);
        filter: blur(2px)
    }

    100% {
        opacity: 1;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        -webkit-filter: blur(0px);
        filter: blur(0px)
    }
}

@keyframes puffIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scale(2, 2);
        transform: scale(2, 2);
        -webkit-filter: blur(2px);
        filter: blur(2px)
    }

    100% {
        opacity: 1;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        -webkit-filter: blur(0px);
        filter: blur(0px)
    }
}